* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 30);
}


/*Área dos links*/
a:link,
a:visited {
    color: #FF4C4C;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #FFD1D1;
    transition: 1s;
}


/*Área do menu e do Header*/
#menu {
    width: 100%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding-left: 27%;
    font-family: 'Montserrat', sans-serif;
}

#menu ul {
    width: 100%;
    height: 97%;
    margin-right: auto;
    margin-left: auto;
}

#menu ul li {
    width: 15%;
    height: inherit;
    list-style: none;
    float: left;
    font-size: 1.5em;
    text-align: center;
    padding-top: 17px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}

#menu ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 76, 76, 0.8);
    transition: 1s;
    transform: scale(1.1);
}

header {
    width: 100%;
    height: 840px;
    background-image: url(/img/capaparafilmes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.titulo {
    background-color: rgba(255, 76, 76, 0.8);
    width: 70%;
    height: 70px;
    text-align: center;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    margin: 20px auto;
    border-radius: 10px;
    color: #f0e7e7;
    padding-top: 15px;
    font-size: 2.2em;
}


/*Área do FORMULARIO*/
.formulario {
    width: 95%;
    margin: auto;
}

#caixa_inf {
    width: 500px;
    height: 500px;
    background-color: rgb(50, 50, 50);
    color: white;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 25px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

#caixa_inf h1 {
    width: 95%;
    height: 80px;
    padding-top: 20px;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 1px;
    background-color: rgba(255, 76, 76, 0.8);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

#formulario label {
    width: 50px;
    height: 20px;
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    color: #FFD1D1;
}

#formulario input,
textarea {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.1em;
    border: solid 1px rgba(255, 76, 76, 0.8);
    margin-bottom: 10px;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Roboto', sans-serif;
}

#sinopse {
    height: 100px;
    resize: none;
}

/*Área para os botões*/
#salvar,
#limpar {
    margin-top: 10px;
    padding-top: 10px;
    float: left;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 76, 76, 0.8);
    margin-left: 15%;
    color: white;
}

/*Formatação da letra*/
#salvar,
#limpar {
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#salvar:hover,
#limpar:hover {
    cursor: pointer;
    background-color: #C7523A;
}


/*Área de formatação para a "lista" de filmes*/
.lista {
    width: 30%;
    height: 40px;
    padding-top: 8px;
    font-family: 'Verdana', Geneva, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    background-color: rgba(199, 57, 57, 0.705);
    margin-right: 5px;
    border-radius: 5px;
}

#listFilmes {
    width: 1200px;
    background-color: rgb(50, 50, 50);
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 50px black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#listFilmes h1 {
    width: 99%;
    height: 80px;
    font-family: 'Lora', serif;
    background-color: rgba(255, 76, 76, 0.9);
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}

#listFilmes .linha {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 76, 76, 0.5);
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#listFilmes .linha div {
    overflow: auto;
    max-height: 75px;
}

#listDados .linha div {
    width: 30%;
    margin-right: 5px;
    font-family: 'Verdana', Geneva, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background-color: #5c5454;
}

#listDados div:hover {
    transform: scale(1.02);
    border-radius: 5px;
}

/*Formatação das divas dentro da lista*/
.dados div {
    width: 50px;
    height: 75px;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
}

/*Formatação das imagens da área de "opções" da lista, botão de "editar" e "excluir"*/
.dados img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.dados img:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.3);
}


/*Área do rodapé*/
footer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: black;
}

footer span {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 50%;
    color: white;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}